*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#FB2E86;
}

a{
    text-decoration: none;
}


ul{
    list-style-type: none;
}

 .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.container{
    width: 80%;
    margin: 0 auto;
}


/* start navbar */





.navbar{
    padding: 40px;
    position: sticky;
    top:0;
    width: 100%;
}

.navbar .links{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;


}

.navbar .links li a{
        color: #0D0E43;
}

.navbar .links li .active{
    color: var(--main-color);
}




.navbar .row form input[type="text"]{
    
    outline: none;
    border: 1px solid #e7e6ef;
    padding: 0 5px;
   
}




.navbar .row form{

    display: inline-flex;


}

.navbar .row form button{

    border: 1px solid  var(--main-color);
    background-color: var(--main-color);
    padding: 5px 10px;
    cursor: pointer;
    
}

.navbar .container .row .open
,.navbar .container .row .close{
    display: none;
    font-size: 25px;
}

/* end navbar */

/* start footer */
.footer{
    background-color: #EEEFFB;
    padding: 40px;
}

.footer .container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    

}

.footer .container .right-side{
    display: flex;
    gap: 20px;
    flex: 0 0 60%;
    flex-wrap: wrap;

}

.footer .container .left-side{
    gap: 20px;  
    flex: 0 0 40%;
}

.footer .container .right-side .content{
   flex: 1 0 calc((100% - 40px)/ 3);
}

.footer .container .right-side .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .container .right-side .links li a{
    color: #8A8FB9;
}

.footer .container .right-side .content h2{
    margin-bottom: 30px;
}


.footer .container .left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
.footer .container .left-side .content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer .container .left-side .content h3
,.footer .container .left-side .content address{
    color: #8A8FB9;
}

.footer .container .left-side form input[type="text"],
.footer .container .left-side form input[type="submit"]{
    padding: 10px 15px ;
    outline: none;
    border: solid transparent;
   
}
.footer .container .left-side form input[type="submit"]{
    background-color:var(--main-color);
    color: white;
    padding: 10px 20px;
}


.footer .container .left-side form .parent {
    display:flex;
    flex-wrap: wrap;
    border: transparent solid 1px;
     border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;

}

 .copy{
    width: 100%;
    background-color: #E7E4F8;
    padding: 20px;
}

 .copy-right{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

 .copy-right .socials{

    display: flex;
    gap: 15px;
    padding: 20px;

}
 .copy-right .socials a {
    padding: 12px 15px;
    background-color: #151875;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    
}

.copy-right .socials a i{
    color: #FFFFFF;
}

.copy-right span{
    color: #9DA0AE;
}




/* end footer */






