*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color:#FB2E86;
}

a{
    text-decoration: none;
}


ul{
    list-style-type: none;
}

 .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.container{
    width: 80%;
    margin: 0 auto;
}


/* start navbar */





.navbar{
    padding: 40px;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 2;
    background-color: #fafafa;
}

.navbar .links{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;


}

.navbar .links li a{
        color: #0D0E43;
}

.navbar .links li .active{
    color: var(--main-color);
}




.navbar .row form input[type="text"]{
    
    outline: none;
    border: 1px solid #e7e6ef;
    padding: 0 5px;
   
}




.navbar .row form{

    display: inline-flex;


}

.navbar .row form button{

    border: 1px solid  var(--main-color);
    background-color: var(--main-color);
    padding: 5px 10px;
    cursor: pointer;
    
}

.navbar .container .row .open
,.navbar .container .row .close{
    display: none;
    font-size: 25px;
}

/* end navbar */

/* start footer */
.footer{
    background-color: #EEEFFB;
    padding: 40px;
}

.footer .container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    

}

.footer .container .right-side{
    display: flex;
    gap: 20px;
    flex: 0 0 60%;
    flex-wrap: wrap;

}

.footer .container .left-side{
    gap: 20px;  
    flex: 0 0 40%;
}

.footer .container .right-side .content{
   flex: 1 0 calc((100% - 40px)/ 3);
}

.footer .container .right-side .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .container .right-side .links li a{
    color: #8A8FB9;
}

.footer .container .right-side .content h2{
    margin-bottom: 30px;
}


.footer .container .left-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    
}
.footer .container .left-side .content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer .container .left-side .content h3
,.footer .container .left-side .content address{
    color: #8A8FB9;
}

.footer .container .left-side form input[type="text"],
.footer .container .left-side form input[type="submit"]{
    padding: 10px 15px ;
    outline: none;
    border: solid transparent;
   
}
.footer .container .left-side form input[type="submit"]{
    background-color:var(--main-color);
    color: white;
    padding: 10px 20px;
}


.footer .container .left-side form .parent {
    display:flex;
    flex-wrap: wrap;
    border: transparent solid 1px;
     border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;

}

 .copy{
    width: 100%;
    background-color: #E7E4F8;
    padding: 20px;
}

 .copy-right{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

 .copy-right .socials{

    display: flex;
    gap: 15px;
    padding: 20px;

}
 .copy-right .socials a {
    padding: 12px 15px;
    background-color: #151875;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    
}

.copy-right .socials a i{
    color: #FFFFFF;
}

.copy-right span{
    color: #9DA0AE;
}


.newsLatter{
    padding: 150px 0;
    background-image: url(./images/Rectangle\ 102.png);
    text-align: center;

}


.newsLatter .container .btn{

    padding: 10px 20px;
    background-color: #FB2E86;
    outline: none;
    border: none;
    cursor: pointer;
    color:white;
}


.newsLatter .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: #151875;

}

.header{
    padding: 20px 0 0 0;
    background-color: #F2F0FF;
    position: relative;
    
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
     
    padding: 40px;
}

.header .container .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 calc(50% - 90px);

    gap: 20px;
}

.header .container .content span{
   color: #FB2E86;
}
.header .container .content p{
   color: #8A8FB9;
}
.header .container .content h1{
    line-height: 2;
}

.header .container .content .btn{
      padding: 10px 25px;
    background-color: #FB2E86;
    outline: none;
    border: none;
    cursor: pointer;
    color:white;
}
.header .container .header-image{
    
    flex: 1 0 calc(50% - 90px);
}

.header .container .header-image img{
    max-width: 100%;
}

.header > img{
    position: absolute;
    top: 0;
    /* left: -100px; */
}

/* end footer */


/* fetures section */
.features{
   
    padding: 100px 0;
    text-align: center;

}
.features h2{
    margin-bottom: 50px;
    font-size: 30px;
    color: #151875;
}


.features .container{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;

}

.features .container .card{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 15px;
   background-color: #FFFFFF;
   box-shadow: 0 5px 6px 0 rgba(0 0 0 /10%);
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   overflow: hidden;
   flex: 1 0 calc((100% - 90px)/4);
   transition: .4s;
   -webkit-transition: .4s;
   -moz-transition: .4s;
   -ms-transition: .4s;
   -o-transition: .4s;
}

.features .container .card:hover{
    background-color: #2F1AC4;
}

.features .container .card:hover .content h3
,.features .container .card:hover .content .info{
   color: white;
}

.features .container .card:hover .btns .btns1
,.features .container .card:hover .btns .btns2
,.features .container .card:hover .btns .btns3{
    border: none;
}

.features .container .card:hover .btns .btns3{
    background-color: #FFEAC1
}



.features .container .image-holder{
    background-color: #F6F7FB;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.features .container .card .image-holder img{
    max-width: 100%;
    

}

.features .container .card .btns1
,.features .container .card .btns2
,.features .container .card .btns3{
    padding: 2px 7px;
    outline: none;
    border: 1px solid white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.features .container .card:hover .image-holder .link{
    opacity: 1;
}

.features .container .card .image-holder .link{
    background-color: #08D15F;
    color: white;
    padding: 10px 15px;
   opacity: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.both-color{
    color: rgb(0, 132, 255);
}

.diff{
    color: #00009D;
}

.features .container .card .cart{
    display: flex;
    gap: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    opacity: 0;
}

.features .container .card:hover .cart{
     
    opacity: 1;
}
.features .container .card:hover .cart i{
    cursor: pointer;
}


.features .container .card .btns1{
    background-color: #05E6B7;
}


.features .container .card .btns2{
     
    background-color: #F701A8;
}


.features .container .card .btns3{
  
     background-color: #00009D;
}


.features .container .card .content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.features .container .card .content h3{
    color: #FB2E86;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}





.features .container .card .info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #151875;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

/* end fetures section */


/* start leatest-product */



.leatest-product{
 text-align: center;
 padding: 100px 0;
}


.leatest-product .container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}


.leatest-product .container .card{
    display: flex;
    flex-direction: column;
    flex: 1 0 calc((100% - 60px)/ 3);
}

.leatest-product .container .card .image-holder{
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    position: relative;
}

.leatest-product .container .card .image-holder img{
    max-width: 100%;
}

.leatest-product .container .card .content p{
    line-height: 2;
    color: #00009D;
    border-bottom: solid 2px #EEEFFB;
}

.leatest-product .container .card .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.leatest-product .container .card .content .price .old-price{
    color: #FB2448;
    text-decoration: line-through;
}


.leatest-product .container .card .content .price .new-price{
    color: #00009D;
}


.leatest-product .container .card .image-holder .cart{
    display: flex;
    gap: 15px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 30px;
    opacity: 0;
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.leatest-product .container .card:hover .image-holder .cart{
    opacity: 1;
}

.leatest-product .container .card .image-holder .sales-baner{
    position: absolute;
    top: 20px;
    left: 30px;
}


.leatest-product h2{
    font-size:30px;
    color: #00009D;
    margin-bottom: 50px;
}


.leatest-product .links{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.leatest-product .links li a{
    color: #00009D;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.leatest-product .links li a:hover{
    color: #F701A8;
    
    text-decoration: underline;
}

/* end leatest-product */



/* start shopex */

.shopex{
  text-align: center;
  padding: 50px 30px;
}


.shopex .container{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.shopex .container .card img{
    max-width: 100%;
    width: 60px;
    height: 60px;
}

.shopex .container .card{
    padding: 20px;
    box-shadow: 0 5px 6px 3px rgba(0 0 0 /10%);
    flex: 1 0 calc((100% - 90px)/4);
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;

}
.shopex h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.shopex h2,
.shopex h3{
    color: #00009D;
    
}

.shopex p{

    color: #bbb5b5;
}

/*  end shopex */



/*  start unique-product */


.unique-product{

    background-color: #F1F0FF;
    padding: 35px;

}

.unique-product .container{

    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.unique-product .same-width{
    flex: 1 0 calc((100% - 20px)/2);
}


.unique-product .container .content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.unique-product .container .content h3{
    font-size: 30px;
    color: #00009D;
    width: 70%;
}
.unique-product .container .image-holder img{
    max-width: 100%;
}

.unique-product .container .content .info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.unique-product .container .content .info .text{
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.unique-product .container .content .info span{
    background-color: #00009D;
    display: inline-block;
    border-radius: 50px;
    padding: 5px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 4px;
}

.unique-product .container .content .info .text p{

    color: #bbb5b5;
}


.unique-product .container  .to-cart{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.unique-product .container  .to-cart button{
    padding: 15px 25px;
    background-color: var(--main-color);
    color:white;
    border: none;
    cursor: pointer;
    outline: none;

}
.unique-product .container .to-cart .cart-info span{
    display: block;
    color: #00009D;
}

.unique-product .container .content .info .text .first{
   
    background-color: #FB2E86;
}

.unique-product .container .content .info .text .second{
   
    background-color: #00009D;
}

.unique-product .container .content .info .text .third{
   
    background-color: #2BF5CC;
}





/* end unique-product */



.trending-product{
   padding: 100px 30px;
   text-align: center;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 40px;
}


.trending-product .container{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.trending-product .container .card{
box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.1);
    flex: 1 0 calc((100% - 60px)/ 4);
    padding: 10px;
}



.trending-product .container .image-holder{
 
    background-color: #F5F6F8;
  
    padding: 20px;
}

.trending-product .container .image-holder img{
    max-width: 100%;
    height: 200px;
}

.trending-product .container .content{
    padding: 25px;
}

.trending-product .container .content .price .old-price{
    color: #999999;
    text-decoration: line-through;
}

.trending-product .container .content .price .new-price{
    color: #00009D;
}

.trending-product .container .content h3{
    color:#00009D
}

.trending-product .container .content{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;


}



.trending-product .container.container2{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.trending-product .container.container2 .box{
     
    background-color: #FFF6FB;
    position: relative;
    flex: 1 0 calc((75% / 2) - 20px) ;
} 

.trending-product .container.container2 .box .img-position{
  max-width: 100%;
}

.trending-product .container.container2 .box.diff-back-color{
    background-color: #e8ecf5;
}

.trending-product .container.container2 .box.box-diff{
        flex: 1 0 calc(25% - 20px) ;
        display: flex;
        flex-direction: column;
        background-color: white;
        flex-wrap: wrap;
        gap: 15px;

}
.trending-product .container.container2 .box .content{
     display: flex;
     align-items: flex-start;

}

.trending-product .container.container2 .box.box-diff .sub-box{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;


}
.trending-product .container.container2 .box.box-diff .sub-box .info,
.trending-product .container.container2 .box.box-diff .sub-box .image-holder{
    flex: 1;
}



.trending-product .container.container2 .box.box-diff .sub-box .image-holder img{
    max-width: 100%;
    width: 70px;
    height: 70px;
}

.trending-product .container.container2 .box.box-diff .sub-box .info{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.trending-product .container.container2 .box.box-diff .sub-box .info h4,
.trending-product .container.container2 .box.box-diff .sub-box .info span{
    color: #00009D;
}

.trending-product .container.container2 .box.box-diff .sub-box .info span{

    text-decoration: line-through;

}

.trending-product .container.container2 .box .content h2{
    color: #00009D;
}

.trending-product .container.container2 .box .content a{
    color: #FB2E86;
    text-decoration: underline;
}


/* start discount */


.discount-item{

    padding: 50px 30px;

}

.discount-item .title h2{
    color: #00009D;
    font-size: 35px;
    margin-bottom: 25px;
}

.discount-item .container{
    display: flex;
    flex-wrap: wrap;
     
    align-items: center;
    gap: 20px;

}

.discount-item .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

}
 
.discount-item .title ul{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.discount-item .title ul li a{
    color:#00009D;
    transition:color .3s;
    -webkit-transition:color .3s;
    -moz-transition:color .3s;
    -ms-transition:color .3s;
    -o-transition:color .3s;
}
.discount-item .title ul li a:hover{
    color: var(--main-color);
     border-bottom: solid 2px var(--main-color);

}


.discount-item .container .content{
    flex: 1 0 calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:30px;
}

.discount-item .container .content .text{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.discount-item .container .content h3{
    color: #00009D;
    font-size: 30px;
   
}
.discount-item .container .content  p{
    color: #999999;
}


.discount-item .container .content h4{
    color: #F701A8;
    font-size: 25px;
}

.discount-item .container .content a{
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
}

.discount-item .container .image-holder{
    flex: 1 0 calc(50% - 20px);
}

.discount-item .container .image-holder img{
    max-width: 100%;
}

.discount-item .container .content .text .info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.discount-item .container .content .text .info p::before{
   font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c";
  margin-right: 10px;
}





/* end discount */



/* start top categories */

.top-categories{

    text-align: center;
    padding: 100px 15px;
    color: #00009D;

}

.top-categories h2{
    margin-bottom: 50px;
    font-size: 30px;
}



.top-categories .container{

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}



.top-categories .container .box{
        
    flex: 1 0 calc((100% - 30px)/4);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transition:.4s ;
     -webkit-transition:.4s ;
     -moz-transition:.4s ;
     -ms-transition:.4s ;
     -o-transition:.4s ;

}

.top-categories .container .box .image-holder img{
    max-width: 100%;
}


.top-categories .container .box .image-holder{
    background-color: #F6F7FB;
    height: 200px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 35px 25px;
    box-shadow: 0 0px 9px 0 rgba(0, 0, 0, 0.1);
    position: relative;

}

.top-categories .container .box .image-holder .circle{
     width: 205px;
     height: 190px;
     background-color: #9B59B6;
     position: absolute;
     z-index: -1;
     border-radius:50% ;
     -webkit-border-radius:50% ;
     -moz-border-radius:50% ;
     -ms-border-radius:50% ;
     -o-border-radius:50% ;
     transition: opacity.4s ;
     -webkit-transition: opacity.4s ;
     -moz-transition: opacity.4s ;
     -ms-transition: opacity.4s ;
     -o-transition: opacity.4s ;
     top: 11px;
     left: -4px;
     opacity: 0;
}

.top-categories .container .box:hover .image-holder .circle{

    opacity: 1;
     
    
}



/* end top categories */
